
<html>
    <body>
      <head>
        <title>Health Care</title>
      </head>
    
      <h1>Health Care</h1>
       <p>Accont Info</p><hr>
      <form action="/register" method="post">
        <label for="First_Name">First_Name:</label><br>
        <input type="text" id="First_Name" name="First_Name"><br>
        <br>
        <label for="Last_Name">Last_Name:</label><br>
        <input type="text" id="Last_Name" name="Last_Name"><br>
        <br>
        <label for="Username">Username:</label><br>
        <input type="text" id="Username" name="Username"><br>
        <br>
        <label for="Email">Email:</label><br>
        <input type="text" id="Email" name="Email"><br>
        <br>

        <label for="Password">Password:</label><br>
        <input type="text" id="Password" name="Password"><br>
        <br><input type="submit" value="Register">
      </form>
      <br><br>
      <p>User information</p><hr>
      <form action="/info" method="post">
        <label for="Current_Weight">Current Weight:</label>
        <input type="text" id="Current_Weight" name="Current_Weight"><br>
        <br>
        <label for="Height">Height:</label>
        <input type="text" id="Height" name="Height"><br>
        <br>
        <label for="Goal_Weight">Goal Weight:</label>
        <input type="text" id="Goal_Weight" name="Goal_Weight"><br>
        <br>
        <label for="Sex">Sex:</label>
        <input type="text" id="Sex" name="Sex"><br>
        <br>
    
        <label for="Target_Calories">Target Calories:</label>
        <input type="text" id="Target_Calories" name="Target_Calories"><br>
        <br>
         <input type="submit" value="New Info">
    
      </form>

</body>
    
 </html>