

<html>
    <body>
      <head>
        <title>Health Care</title>
      </head>
    
      <h1>Health Care</h1>
    
    
      <form action="/login" method="POST">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br>
        <br>
        <label for="pwd">Password:</label><br>
        <input type="password" id="pwd" name="pwd"><br>
        <br><input type="submit" value="Sign_in">
      </form>
       
      <form method = "POST" action="/Newuser">
      <button type="submit" formaction="/Newuser">Register</button>
    
    </body>
    
    
    </html>